<div class="todo-list" ng-controller="TodoListController as todoList">
    <ul class="list-element">
        <li class="list-item" ng-repeat="todo in todoList.todos">
            <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <div class="description" class="done-{{todo.done}}">{{todo.text}}</div>
            </label>
        </li>
    </ul>

    <form class="todo-form" ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText" size="30" placeholder="Novo...">
        <input class="btn-primary" type="submit" value="Adicionar">
    </form>
</div>
