$background-color: #ffc600;
$border-radius: 4px;
$text-color: #666;

body,
html {
    font: 16px/1.5em sans-serif;
    background: $background-color;
}

.titulo-principal {
    color: #fff;
}

.todo-list {
    width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: $border-radius;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);

    .list-element {
        padding: 0;
        margin: 0;

        .list-item {
            list-style: none;
            color: $text-color;

            border-bottom: 1px solid #F1F1F1;

            &:last-child {
                border-bottom: 0;
            }

            .checkbox {
                display: flex;
                align-items: center;

                input[type="checkbox"] {
                    margin: 0 20px;

                    &:checked + .description {
                        background: #F9F9F9;
                        text-decoration: line-through;
                    }
                }

                .description {
                    margin: 0;
                    padding: 1em;
                    border-left: 1px solid #D1E2FF;
                }
            }

        }
    }

    .todo-form {
        display: flex;
        padding: 1.5em 1em;
        align-items: center;
        justify-content: space-around;


        input[type=text] {
            width: 65%;
            padding: 0.5em 0.5em;
            color: $text-color;
            outline: none;
            border: 1px solid #ccc;
            border-radius: $border-radius;
            font-size: 1.0em;
        }

        input[type=submit] {
            border: 1px solid #ccc;
            border-radius: $border-radius;
            background-color: #fff;
            padding: 0.68em 1em;
            height: auto;
            transition: all 0.5s;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #dca84e;
            color: #fff;

            // font-weight: bold;
        }
    }
}
